*{
    margin:0;
    box-sizing: border-box;
    padding:0;
}
.profile-section {
    background: url("pic11.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
  }
  .areaTwo{

    position: fixed;
    top:52px;
    left:450px;
    z-index: 2;
    
     
  }
  .areaTwo .Division{
    width:120px;
    background: rgb(5, 5, 5);
    color: white;
    margin: -5px;
     border:1px white solid;
  }
  .hiddenTwo{
  
    
  display: none;
  
  }
  .show-contactTwo{
    display: none;
  }
 
.overlayTwo{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height:120vh;
  filter: blur(3px);
  opacity: 0.7;
  background-color: black;
  z-index: 1;

}

.edit-advertise{
  position: absolute;
  z-index: 0;
  top:83px;
  right:-0px;
  width:100%;
  height: 83px;
  
}
.edit-advertise .text-white{
  font-size: 20px;
  font-weight: 600;

}
#editAdvertiseBtn{
    
  margin-left:880px;
}
.profileImg{
  width:100px;
  height:100px;
  border-radius: 50%;
  margin:0 0 10px 24px;
}

.stickyTwo{
  background-color: black;
}
.dropdown-menu{
  margin-bottom: -10px;
}
.dropdown-menu .show{
  display: none;
}
#logOut{
  display: flex;
  
}
#logout{
  margin-right: 0px;
  margin-top: 5px;
}
.border{
    border: 2px solid blue;
    box-shadow: 1px 0.1px 0.5px rgb(185, 201, 193);
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
    
}
.image1{

    padding: 20px;
    box-sizing: border-box;
    margin:20px;
    height:300px;
    box-shadow: 0.5px 1.5px 1.5px 0.5px rgb(78, 73, 73);
}
.image2{

    padding: 20px;
    box-sizing: border-box;
    margin:20px;
    height:100px;
    box-shadow: 0.5px 1.5px 1.5px 0.5px rgb(78, 73, 73);
}

label{
    height:60px;
    width:200px;
    box-shadow: 0.2px 0.20px 0.1px  rgb(77, 69, 69);
    color: black;
     text-align: center;
     padding: 15px;
     margin: auto;
     position: relative;
     
     right:-520px;
     top:100px;
     font-size: 20px;
}
.ImageFile{
    height:40px;
    width:120px;
    box-shadow: 0.2px 0.20px 0.1px  rgb(77, 69, 69);
    color: black;
     text-align: center;
     padding: 10px;
     margin: auto;
     position: relative;
     left:35px;
     top:10px;
     font-size: 15px;
     font-weight: lighter;
}
#removePhotos{
    display: flex;
    text-align: center;
   justify-content: center;
    width:500px;
    margin-left: 450px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.Information{
    display: flex;
    flex-direction: column;
    box-shadow:0.5px 0.5px 0.5px 0.5px black;
    margin: 20px 70px 30px;
}
#saveBtn{
    color: rgb(214, 65, 65);
    border: 1px solid rgb(230, 79, 79);
    width:100px;
    margin: 10px;
}
#saveBtn:hover{
   background:rgb(214, 65, 65);
   color: white;
}
.expireMessage{
    display: flex;
    justify-content: center;
    align-items: center;
    width:50%;
    margin-left: 350px;
    margin-bottom: 30px;
    color: red;
    background: rgb(185, 201, 193);
    padding-top: 15px;
}
/*@media(max-width:414px){
  .imagefilee{
    margin-left: -510px;
  }

  .ImageFile{
       margin: auto;
     position: relative;
     left:70px;
     top:10px;
     font-size: 15px;
     font-weight: lighter;
}
.image2{
   
    margin:0 -10px 0 -8px;
    height:100px;
    box-shadow: 0.5px 1.5px 1.5px 0.5px rgb(78, 73, 73);
}
#removePhotos{
  display: flex;
  text-align: center;
 justify-content: center;
  width:350px !important;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#editAdvertiseBtn{
    margin-top: -60px;
  margin-left:130px;
}
.expireMessage{
  margin-left: 90px;
} 
.Information{
  display: flex;
  flex-direction: column;
  box-shadow:0.5px 0.5px 1.5px 0.5px rgb(131, 124, 124);
  margin-left:20px;
}
.overlayTwo{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height:340vh;
  filter: blur(3px);
  opacity: 0.7;
  background-color: black;
  z-index: 1;

}


}
*/

@media(max-width:360px){
  #dropdownMenu{
    margin-top: 35px;
        margin-left: -140px;
  }
  .areaTwo{

    position: fixed;
    top:140px;
    left:200px;
    z-index: 2;
    
     
  }
  .imagefilee{
    margin-left: -510px;
  }

  .ImageFile{
       margin: auto;
     position: relative;
     left:70px;
     top:10px;
     font-size: 15px;
     font-weight: lighter;
}
.image2{
   
    margin:0 -10px 0 -8px;
    height:100px;
    box-shadow: 0.5px 1.5px 1.5px 0.5px rgb(78, 73, 73);
}
#removePhotos{
  display: flex;
  text-align: center;
 justify-content: center;
  width:310px;
  margin-left: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#editAdvertiseBtn{
    margin-top: -60px;
  margin-left:130px;
}
.expireMessage{
  margin-left: 90px;
} 
.Information{
  display: flex;
  flex-direction: column;
  box-shadow:0.5px 0.5px 1.5px 0.5px rgb(131, 124, 124);
  margin-left:20px;
}
.overlayTwo{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height:340vh;
  filter: blur(3px);
  opacity: 0.7;
  background-color: black;
  z-index: 1;

}


}
@media(max-width:260px){
  .areaTwo{

    position: fixed;
    top:145px;
    left:140px;
    z-index: 2;
    
     
  }
  .profileImg{
    margin-left: 45px;
  }
 #john{
   font-size: 20px;
   margin-left: 32px;
   margin-bottom: -10px;
 }
  .imagefilee{
    margin-left: -570px;
    font-size: 15px;
  }

  .ImageFile{
       margin: auto;
     position: relative;
     left:20px;
     top:10px;
     font-size: 15px;
     font-weight: lighter;
}
.image2{
   
    margin:0 -10px 0 -8px;
    height:100px;
    box-shadow: 0.5px 1.5px 1.5px 0.5px rgb(78, 73, 73);
}
#removePhotos{
  display: flex;
  text-align: center;
 justify-content: center;
 align-items: center;
  width:200px;
margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#editAdvertiseBtn{
    margin-top: 0px;
  margin-left:40px;
}
.expireMessage{
  margin-left: 60px;
} 
.Information{
  display: flex;
  flex-direction: column;
  box-shadow:0.5px 0.5px 1.5px 0.5px rgb(131, 124, 124);
  margin-left:15px;
}
.overlayTwo{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height:340vh;
  filter: blur(3px);
  opacity: 0.7;
  background-color: black;
  z-index: 1;

}

}
@media(min-width:361px){
  #dropdownMenu{
    margin-top: 35px;
        margin-left: -150px;
  }
  .areaTwo{

    position: fixed;
    top:140px;
    left:220px;
    z-index: 2;
    
     
  }
  .imagefilee{
    margin-left: -500px;
  }

  .ImageFile{
       margin: auto;
     position: relative;
     left:90px;
     top:10px;
     font-size: 15px;
     font-weight: lighter;
}
.image2{
    
    margin:0 -10px 0 -0px;
    height:100px;
    box-shadow: 0.5px 1.5px 1.5px 0.5px rgb(78, 73, 73);
}
#removePhotos{
  display: flex;
  text-align: center;
 justify-content: center;
 align-items: center;
  width:320px;
margin-left: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#editAdvertiseBtn{
    margin-top: -60px;
  margin-left:130px;
}
.expireMessage{
  margin-left: 90px;
} 
.Information{
  display: flex;
  flex-direction: column;
  box-shadow:0.5px 0.5px 1.5px 0.5px rgb(131, 124, 124);
  margin-left:20px;
}
.overlayTwo{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height:340vh;
  filter: blur(3px);
  opacity: 0.7;
  background-color: black;
  z-index: 1;

}


}
@media(min-width:400px){
  #dropdownMenu{
    margin-top: 35px;
        margin-left: -150px;
  }
  .areaTwo{

    position: fixed;
    top:140px;
    left:240px;
    z-index: 2;
    
     
  }
  #removePhotos{
    display: flex;
    text-align: center;
   justify-content: center;
  
    width:350px;
  margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #removePhotos{
    display: flex;
    text-align: center;
   justify-content: center;
   
    width:80%;
     margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .imagefilee{
    margin-left: -490px;
  }

  .ImageFile{
       margin: auto;
     position: relative;
     left:100px;
     top:10px;
     font-size: 15px;
     font-weight: lighter;
}
.image2{
   
    margin:0 -10px 0 0px;
    height:100px;
    box-shadow: 0.5px 1.5px 1.5px 0.5px rgb(78, 73, 73);
}

#editAdvertiseBtn{
    margin-top: -60px;
  margin-left:130px;
}
.expireMessage{
  margin-left: 110px;
} 
.Information{
  display: flex;
  flex-direction: column;
  box-shadow:0.5px 0.5px 1.5px 0.5px rgb(131, 124, 124);
  margin-left:20px;
}
.overlayTwo{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height:340vh;
  filter: blur(3px);
  opacity: 0.7;
  background-color: black;
  z-index: 1;

}
  

}

@media(min-width:500px){
  .areaTwo{

    position: fixed;
    top:140px;
    left:300px;
    z-index: 2;
    
     
  }
  #removePhotos{
    display: flex;
    text-align: center;
   justify-content: center;
   
    width:350px;
  margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .imagefilee{
    margin-left: -430px;
  }
  
  .ImageFile{
    margin: auto;
  position: relative;
  left:160px;
  top:10px;
  font-size: 15px;
  font-weight: lighter;
  }
  .image2{
  margin:0 -10px 0 -5px;
  height:100px;
  box-shadow: 0.5px 1.5px 1.5px 0.5px rgb(78, 73, 73);
  }
  .Information{
    display: flex;
    flex-direction: column;
    box-shadow:0.5px 0.5px 1.5px 0.5px rgb(131, 124, 124);
    margin-left:40px;
    
  }
  .expireMessage{
    margin-left: 140px;
  }


}
@media(min-width:600px){
  .areaTwo{

    position: fixed;
    top:140px;
    left:350px;
    z-index: 2;
    
     
  }
  #removePhotos{
    display: flex;
    text-align: center;
   justify-content: center;
   
    width:400px;
  margin-left: 125px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  
  .imagefilee{
    margin-left: -380px;
  }
  
  .ImageFile{
    
  position: relative;
  left:210px;
  top:10px;
  font-size: 15px;
  font-weight: lighter;
  }
  .image2{
    width:700px;
  margin:0 50px 0 -10px;
  height:100px;
  box-shadow: 0.5px 1.5px 1.5px 0.5px rgb(78, 73, 73);
  }
  .Information{
    display: flex;
    flex-direction: column;
    box-shadow:0.5px 0.5px 1.5px 0.5px rgb(131, 124, 124);
    margin-left:30px;
    
  }
  .expireMessage{
    margin-left: 160px;
  }

}
@media(min-width:700px){
  .areaTwo{

    position: fixed;
    top:60px;
    left:550px;
    z-index: 2;
    
     
  }
  #editAdvertiseBtn{
    margin-top: -60px;
  margin-left:300px;
}
  #removePhotos{
    display: flex;
    text-align: center;
   justify-content: center;
   
    width:500px;
  margin-left: 125px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  
  .imagefilee{
    margin-left: -320px;
  }
  
  .ImageFile{
    
  position: relative;
  left:-15px;
  top:10px;
  font-size: 15px;
  font-weight: lighter;
  }
  .image2{
    width:700px;
  margin:0 10px 0 10px;
  height:100px;
  box-shadow: 0.5px 1.5px 1.5px 0.5px rgb(78, 73, 73);
  }
  .Information{
    display: flex;
    flex-direction: column;
    box-shadow:0.5px 0.5px 1.5px 0.5px rgb(131, 124, 124);
    margin-left:40px;
    
  }
  .expireMessage{
    margin-left: 195px;
  }

}
@media(min-width:800px){
  .areaTwo{

    position: fixed;
    top:50px;
    left:600px;
    z-index: 2;
    
     
  }
  .overlayTwo{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height:220vh;
    filter: blur(3px);
    opacity: 0.7;
    background-color: black;
    z-index: 5;
  
  }
  #editAdvertiseBtn{
    margin-top: -150px;
  margin-left:630px;


}
#removePhotos{
  display: flex;
  text-align: center;
 justify-content: center;
 
  width:80%;
   margin-left: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.imagefilee{
  margin-left: -270px;
}

.ImageFile{
  margin: auto;
position: relative;
left:-10px;
top:10px;
font-size: 15px;
font-weight: lighter;
}
.image2{
margin:0 -10px 0 26px;
height:100px;
box-shadow: 0.5px 1.5px 1.5px 0.5px rgb(78, 73, 73);
}
.Information{
  display: flex;
  flex-direction: column;
  box-shadow:0.5px 0.5px 1.5px 0.5px rgb(131, 124, 124);
  margin-left:40px;
  
}
.expireMessage{
  margin-left: 220px;
}
}

@media(min-width:1000px){
  #dropdownMenu{
    margin-top: 35px;
        margin-left: 5px;
  }
  .areaTwo{

    position: fixed;
    top:50px;
    left:325px;
    z-index: 2;
    
     
  }
  .overlayTwo{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height:220vh;
    filter: blur(3px);
    opacity: 0.7;
    background-color: black;
    z-index: 5;
  
  }
  #editAdvertiseBtn{
    margin-top: -170px;
  margin-left:830px;


}
#removePhotos{
  display: flex;
  text-align: center;
 justify-content: center;
 
  width:80%;
   margin-left: 105px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.imagefilee{
  margin-left: -170px;
}

.ImageFile{
  margin: auto;
position: relative;
left:7px;
top:10px;
font-size: 15px;
font-weight: lighter;
}
.image2{
margin:0 -10px 0 31px;
height:100px;
box-shadow: 0.5px 1.5px 1.5px 0.5px rgb(78, 73, 73);
}
.Information{
  display: flex;
  flex-direction: column;
  box-shadow:0.5px 0.5px 1.5px 0.5px rgb(131, 124, 124);
  margin-left:47px;
  
}
.expireMessage{
  margin-left: 260px;
}


}
@media(min-width:1200px){
  #dropdownMenu{
    margin-top: 35px;
        margin-left: 5px;
  }
  .areaTwo{

    position: fixed;
    top:50px;
    left:480px;
    z-index: 2;
    
     
  }
  .overlayTwo{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height:220vh;
    filter: blur(3px);
    opacity: 0.7;
    background-color: black;
    z-index: 5;
  
  }
  #editAdvertiseBtn{
    margin-top: -60px;
  margin-left:800px;


}
#removePhotos{
  display: flex;
  text-align: center;
 justify-content: center;
 
  width:80%;
   margin-left: 130px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.imagefilee{
  margin-left: -20px;
}

.ImageFile{
  margin: auto;
position: relative;
left:30px;
top:10px;
font-size: 15px;
font-weight: lighter;
}
.image2{
margin:0 -10px 0 42px;
height:100px;
box-shadow: 0.5px 1.5px 1.5px 0.5px rgb(78, 73, 73);
}
.Information{
  display: flex;
  flex-direction: column;
  box-shadow:0.5px 0.5px 1.5px 0.5px rgb(131, 124, 124);
  margin-left:65px;
  
}
.expireMessage{
  margin-left: 320px;
}

}
@media(min-width:1300px){
  .overlayTwo{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height:200vh;
    filter: blur(3px);
    opacity: 0.7;
    background-color: black;
    z-index: 5;
  
  }
  #editAdvertiseBtn{
    margin-top: -60px;
  margin-left:900px;


}
#removePhotos{
  display: flex;
  text-align: center;
 justify-content: center;
 
  width:80%;
   margin-left: 130px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.imagefilee{
  margin-left: -30px;
}

.ImageFile{
  margin: auto;
position: relative;
left:30px;
top:10px;
font-size: 15px;
font-weight: lighter;
}
.image2{
margin:0 -10px 0 40px;
height:100px;
box-shadow: 0.5px 1.5px 1.5px 0.5px rgb(78, 73, 73);
}
.Information{
  display: flex;
  flex-direction: column;
  box-shadow:0.5px 0.5px 1.5px 0.5px rgb(131, 124, 124);
  margin-left:65px;
  
}
.expireMessage{
  margin-left: 320px;
}

}
@media(min-width:1400px){
  #dropdownMenu{
    margin-top: 35px;
        margin-left: 5px;
  }
  .areaTwo{

    position: fixed;
    top:50px;
    left:650px;
    z-index: 2;
    
     
  }
  .overlayTwo{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height:190vh;
    filter: blur(3px);
    opacity: 0.7;
    background-color: black;
    z-index: 5;
  
  }
  #editAdvertiseBtn{
    margin-top: -60px;
  margin-left:970px;


}
#removePhotos{
  display: flex;
  text-align: center;
 justify-content: center;
 
  width:80%;
   margin-left: 130px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.imagefilee{
  margin-left: -30px;
}

.ImageFile{
  margin: auto;
position: relative;
left:40px;
top:10px;
font-size: 15px;
font-weight: lighter;
}
.image2{
margin:0 -10px 0 31px;
height:100px;
box-shadow: 0.5px 1.5px 1.5px 0.5px rgb(78, 73, 73);
}
.Information{
  display: flex;
  flex-direction: column;
  box-shadow:0.5px 0.5px 1.5px 0.5px rgb(131, 124, 124);
  margin-left:70px;
  
}
.expireMessage{
  margin-left: 350px;
}


}
@media(min-width:1500px){
  .areaTwo{

    position: fixed;
    top:50px;
    left:650px;
    z-index: 2;
    
     
  }
  .overlayTwo{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height:190vh;
    filter: blur(3px);
    opacity: 0.7;
    background-color: black;
    z-index: 5;
  
  }
  #editAdvertiseBtn{
    margin-top: -50px;
  margin-left:1060px;


}
#removePhotos{
  display: flex;
  text-align: center;
 justify-content: center;
 
  width:80%;
   margin-left: 130px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.imagefilee{
  margin-left: 5px;
}

.ImageFile{
  margin: auto;
position: relative;
left:50px;
top:10px;
font-size: 15px;
font-weight: lighter;
}
.image2{
margin:0 -10px 0 47px;
height:100px;
box-shadow: 0.5px 1.5px 1.5px 0.5px rgb(78, 73, 73);
}
.Information{
  display: flex;
  flex-direction: column;
  box-shadow:0.5px 0.5px 1.5px 0.5px rgb(131, 124, 124);
  margin-left:70px;
  
}
.expireMessage{
  margin-left: 350px;
}


}